html(lang="en")
head
    meta(charset="UTF-8")
    title Welcome To Suber Eats 
link(rel="stylesheet", href="home.css") 
body(class="background")

    include ./partials/navheader

    div(class = "center border") 
        
        h1 Welcome To Suber Eats!
        br
        h4 Order from the tastiest food places in your area!
        br
        
            
        