html(lang="en")
head
    meta(charset="UTF-8")
    title Welcome To Suber Eats 
link(rel="stylesheet", href="orderform.css") 
        
body(onload="init()")

    include ./partials/navheader
    br
    br

    select(id="restaurant-select")
    br
    br

    div(id="info")

    div(id="main")
        div(class="column left" id="left")
        div(class="column middle" id="middle")
        div(class="column right" id="right")
script(src="orderform.js")